@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    position: relative;
    width: 100%;
    height: 2000px; /* Adjust this height based on your content */
  }
  .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
  }
  .icon {
    font-size: 24px;
    color: green;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .line {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: green;
    transition: width 0.5s;
  }


.stable-div{
    width: 730px;
    height: 964px;
    left: 910px;
    background-image:url(./src/3815154af6141327159efc68dc8ecbd2.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.title{
    font-weight: 800;
    font-size: 64px;
    color: #ffffff;
    width: 480px;
    height: 324px;
    padding-top: 120px;
    margin-left: 300px;
    line-height:80.64px;
}
.title-thanks{
    font-weight: 800;
    font-size: 64px;
    color: #202020;
}
.thanks-p{
    font-weight: 600;
    font-size: 24px;
    color:#20202080;
    ;
}
.img-profile{
    width: 161px;
    height: 161px;
    border-radius: 100%;
    background-image: url(./src/Rectangle\ 4367.svg);
}
.title-p{
    font-weight:600;
    font-size: 24px;
    color: #ffffff;
    width: 274px;
    height: 60px;
    top: 636px;
    margin-left: 300px;
    padding-top: 40px;

}
.for-flex{
    display: flex;
}

.for-grid{
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    row-gap: 10px; 
    gap: 40px;
}
.for-grid2{
    display: flex; 
    gap: 10px;
}
.box1,.box2,.box3,.box4{
    width: 280px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    background-image: url(./src/Rectangle\ 4367.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.boxpage2,.boxpage3{
    width: 134px;
    height: 324px;
    background-image: url(./src/Rectangle\ 4367.svg);
    background-repeat: no-repeat;
    background-size: cover;

}
.box5,.box5page2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.zip-box{
    width: 401px;
    height: 334px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 41px;
    align-items: flex-start;
}
.boxpage3{
    width: 179px;
    height: 384px;
    border: 3px;
}
.button-div{
    flex-direction: row
}
.content-div{
    margin-top:120px;
    margin-left: 50px;
}
.content-zip{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.thanks-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    gap: 20px;
    padding-top: 100px;

}
.pwichka,.pic-text,.pwichka2,.pic-text2,.pwichka5,.pic-text5,.pwichka7{
    position: relative;
     top: 91px;
     font-weight: 700;
     font-size: 16px;
     color: #202020B2;
     Text: Bold;
}

.pwichka5{
    top: 360px;
    left: 63px;
}
.pic-text5{
    top: 369px;
    left: 35px;
}
.back-button,.next-button{
    width: 170px;
    height: 50px;
    margin-top:70px ;
}
.box5page2{
    margin-top: 50px;
}
.button-div{
   padding-left:100px ;
}

.back-button,.next-button{
    font-family:  "Jakarta Sans";
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color:#20202080;
    background-color: #ffffff;
    border: none;
    letter-spacing:1px;
}
.tomain-button{
    width: 309px;
    height: 43px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    font-family: "Plus Jakarta Sans";
    border-radius: 5px;
    margin-top: 200px;
}
.next-button{
    background-color:  #0E7350;
    color: #ffffff;
}
.input-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: "Plus Jakarta Sans";
    justify-content: center;
}
.number-answers{
    color:#2CB183;
    font-size: 16px;
    font-weight: 700;
    font-family: "Jakarta sans";
}
.question{
    font-weight: 600;
    font-size: 32px;
    color: #202020;
    font-family: "Plus Jakarta Sans";
    line-height: 40.32px;
    margin-bottom: 50px;
    width: 480px;
}
.text-zip{
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #20202080;
    width: 500px;
    height: 90px;
}
.text-small,.small-span{
    font-family:  "Jakarta Sans";
    font-weight: 600;
    font-size: 14px;
    color: #20202080;
    opacity: 70%;
}
.small-span{
    color: red;
}
.span-zip{
    color:rgb(19, 18, 18);
}
.input{
    width: 580px;

}
.input-zip{
    width: 398px;
    background-color: #ffffff;
    border: 1px solid #2020201A;
    height: 50px;
}
.input {
    -webkit-appearance: none;
    width: 100px;
    height: 10px;
    background: linear-gradient(to right, #2CB183 0%, #2CB183 25%, #fff 25%, #fff 100%);
    border-radius: 50px;
  }
  
  .input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0; /* Hide the slider thumb */
    height: 0;
  }
  
  .input::-moz-range-thumb {
    width: 0; /* Hide the slider thumb */
    height: 0;
  }


 .out{
    width: 47px;
    height: auto;
    background-color: #fff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
 }
 .inside{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #202020B2;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
   margin-top: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .checkbox {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -1;
  } 
  @media(max-width: 365px){
    .box1,.box2,.box3,.box4,.boxpage2{
        width: 160px;
        height: 140px;
        gap: 5px;
        background-image: url(./src/Rectangle\ 4367.svg);
    }
    .for-grid2{
        display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    row-gap: 10px; 
    gap: 40px;
    }
    .boxpage3{
        width: 104px;
        height: 336px;
    }
    .for-grid5{
        display: flex;
        gap: 9px;
        justify-content: center;

    }
    .pwichka5 {
        top: 311px;
        left: 37px;
        }
  
    .pic-text5 {
    top: 320px;
    left: 11px;
    font-size: 14px;
        }
    .title-thanks{
      font-size: 32px;
    }
    .thanks-p{
        font-size: 18px;
    }
    .tomain-button{
        width: 309px;
    }
    .thanks-content{
        margin-left: 0px;
    }
    .zip-box{
        width: 0px;
    }
}

  @media (max-width: 768px){
    .stable-div{
        display: none;
    }
    .box1,.box2,.box3,.box4,.boxpage2{
        width: 160px;
        height: 140px;
        gap: 5px;
        background-image: url(./src/Rectangle\ 4367.svg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px;
    }
    .for-flex{
        justify-content: center;
    }
    .for-grid2{
        display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto; 
    row-gap: 10px; 
    gap: 40px;
    }
    .for-grid5{
        display: flex;
    gap: 9px;
    align-items: center;
    justify-content: center;
    }
    .boxpage3{
        width: 104px;
        height: 336px;
    }
    .question{
        width: auto;
    }
    .content-div{
        margin-left: 0px;
    }
    .pwichka,.pic-text{
        top: 80px;
    }
    .pwichka5 {
        top: 311px;
        left: 37px;
     }
    .pic-text5 {
    top: 320px;
    left: 11px;
    font-size: 14px;
        }
    .for-grid{
        row-gap: 70px;
        justify-content: center;
    }
    .next-button,.back-button{
        width: 160px;
        height: 50px;
        border-radius: 5px;
    }
    .input-div{
        padding-left: 12px;
    }
    .zip-img{
        width: 328px;
        height: 261px;

    }
    .zip-box{
        align-items: center;
    }
    .input-zip{
        width: 328px;
    }
    .text-zip{
        font-size: 18px;
        width: auto;
    }
    .title-thanks{
        font-size: 32px;
      }
      .thanks-p{
        font-size: 18px;
      }
      .tomain-button{
        width: 309px;
      }
      .thanks-content{
        margin-left: 0px;
      }
  }
  @media(min-width:769px){
    .pwichka2,.pic-text2{
        top: 299px;
        left: 43px;
        font-size: 14px;
    }
    .zip-img{
        width: 401px;
        height: 334px;
    }
  }

  

  